@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.text-container {
   width: 100dvw;
   height: 100dvh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   display: flex;
   flex-direction: column;
   text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
